@import "../demo5/src/assets/sass/style";
@import "../demo5/src/assets/sass/pages/login/login-6";
@import "../demo5/src/assets/sass/pages/pricing/pricing-4";
@import "../demo5/src/assets/sass/pages/invoices/invoice-1";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "~leaflet/dist/leaflet";
@import "~fancybox/dist/css/jquery.fancybox.css";

@import "color";

.required {
    color: #dd2e35
}

.kt-bg-danger {
    background-color: #dd2e35 !important;
    color: white;
}

.kt-bg-success {
    color: white;
}

.card .kt-bg-danger {
    font-weight: bold;
}

.card .kt-bg-warning {
    font-weight: bold;
}

.card .kt-bg-success {
    font-weight: bold;
}

.kt-media.kt-media--xxl span {
    width: 120px;
    height: 120px;
    font-size: 2rem;
}

.kt-media.kt-media--xxxl span {
    width: 170px;
    height: 170px;
    font-size: 2.6rem;
}

.mt-lg-6 {margin-top: 4.5rem !important;}
.mt-lg-7 {margin-top: 6rem !important;}
.mt-lg-8 {margin-top: 7.5rem !important;}
.mt-lg-9 {margin-top: 9rem !important;}

.mb-lg-6 {margin-bottom: 4.5rem !important;}
.mb-lg-7 {margin-bottom: 6rem !important;}
.mb-lg-8 {margin-bottom: 7.5rem !important;}
.mb-lg-9 {margin-bottom: 9rem !important;}


