@import "../demo5/src/assets/sass/style";
@import "../demo5/src/assets/sass/pages/login/login-6";
@import "../demo5/src/assets/sass/pages/pricing/pricing-4";
@import "../demo5/src/assets/sass/pages/invoices/invoice-1";
@import "../demo5/src/assets/sass/pages/support-center/home-1";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "~leaflet/dist/leaflet";
@import "~fancybox/dist/css/jquery.fancybox.css";

@import "color";
@import "../demo5/dist/assets/plugins/custom/datatables/datatables.bundle.css";

.required {
    color: #dd2e35
}

.kt-bg-danger {
    background-color: #dd2e35 !important;
    color: white;
}

.kt-bg-success {
    color: white;
}

.card .kt-bg-danger {
    font-weight: bold;
}

.card .kt-bg-warning {
    font-weight: bold;
}

.card .kt-bg-success {
    font-weight: bold;
}

.kt-media.kt-media--xxl span {
    width: 120px;
    height: 120px;
    font-size: 2rem;
}

.kt-media.kt-media--xxxl span {
    width: 170px;
    height: 170px;
    font-size: 2.6rem;
}

.kt-media.kt-media--xxxxl span {
    width: 230px;
    height: 230px;
    font-size: 3.2rem;
}
.kt-media.kt-media--xxxxl img {
    width: 230px;
    height: 230px;
    font-size: 3.2rem;
}

.mt-lg-6 {margin-top: 4.5rem !important;}
.mt-lg-7 {margin-top: 6rem !important;}
.mt-lg-8 {margin-top: 7.5rem !important;}
.mt-lg-9 {margin-top: 9rem !important;}

.mb-lg-6 {margin-bottom: 4.5rem !important;}
.mb-lg-7 {margin-bottom: 6rem !important;}
.mb-lg-8 {margin-bottom: 7.5rem !important;}
.mb-lg-9 {margin-bottom: 9rem !important;}

.tz-gallery {
    position: relative;
    display: inline-block;
}

.tz-gallery .tz-button__delete {
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: auto;
    right: -10px;
    bottom: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
    display: none;

    i {
        -webkit-transition: all .3s;
        transition: all .3s;
        color: #74788d;
        font-size: .9rem;
    }
}

.notification {
    width: 435px;
    height: 161px;
    background: #1E2023;
    border-radius: 3px;
}

.notification-badge {
    width: 46px;
    background: #12151F;
    border-radius: 3px 0px 0px 3px;
}

.notification-badge--circle {
    width: 13px;
    height: 13px;
    top: calc(50% - 13px / 2 + 1px);

    .success {
        background: #4caf50;
    }

    .warning {
        background: #FF5722;
    }

    .error {
        background: #f44336;
    }

    .info {
        background: #3F51B5;
    }
}

.notification-text {
    position: absolute;
    width: 356px;
    height: 129px;
    left: 69px;
    top: 8px;

    .title {
        position: absolute;
        height: 40px;
        left: 69px;
        right: 10px;
        top: 8px;

        font-family: Open Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;

        color: #FFFFFF;
    }

    .content {
        position: absolute;
        height: 80px;
        left: 69px;
        right: 10px;
        top: 57px;

        font-family: Open Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        /* or 20px */


        /* Gris clair */

        color: #F7FAFB;
        opacity: 0.6;
    }
}

