/blog/*.*
!/blog/news.png
/slideshow/*.*
/tutoriel/*.*
/tutoriel/*/*.*
!/tutoriel/categorie/*.*
/route/*
!/route/dependance.png
!/route/map.png
!/route/session.png
/download/category/*
/download/subcategory/*
/phpcs/*.*
